.to-do-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & > * {
    margin: 5px;
  }

  &__input{
    padding: 5px;
    width: 90%;
  }
  &__button{
    padding: 5px;
  }
}