@use "../../assets/sass/variables" as *;

.current-weather {
  background-color: $colour-white;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  display: flex;
  gap: 15px;

  &__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}