@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$font-default: 'Noto Sans',Helvetica Neue,Helvetica,Arial,sans-serif;

$colour-morning: #7cc2ff;
$colour-afternoon: #bfe1ff;
$colour-evening: #989fff;
$colour-night: #050730;

$colour-black: #1a1a1a;
$colour-white: #f9f9f9;
